---
layout: default.njk
---

<div class="post">
<h1 class="posttitle">{{ title }}</h1>
<div class="datetags"><p class="secondary">{{page.date | postDate}}</p><p class="category">{{postcategory}}</p></div>
{{content | safe}}
</div>

<div class="footer">
<script src="https://utteranc.es/client.js"
        repo="cigneve/cigneve.github.io"
        issue-term="pathname"
        theme="github-dark-orange"
        crossorigin="anonymous"
        async>
</script>
</div>
