---
pagination:
  data: pagelist
  size: 3
  alias: pages
pagelist:
  home: index.njk
  blog: blog/index.njk
  contact: contact.njk
---
<!doctype html>
<html lang="en">
<body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
  <link rel="stylesheet" href="/assets/bundle.css">


<!-- Navigation -->
<div class="defaultlayout">

<nav class="serious">
<ul>
{%- for item in pages %}
  <li><a href = {{item.url}}>{{item}}</a></li>
{% endfor -%}
</ul>
</nav>

{{content | safe}}
</div>
</body>
</html>
